<!DOCTYPE html>
<html>
    <head>
        <title> Diary </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    </head>
    <div class="container mt-5">
        <body>
            <div class="row">
                <nav class="navbar navbar-expand-lg bg-light" style="max-width: 95vw; margin: 0 auto; margin-bottom: 10px;">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="">
                            <img src="..\static\flag.jpg" alt="Womp" width="3%" height="3%">
                            Elon Musk Nerualink Babies
                        </a>
                        <ul class="navbar-nav navHeaderCollapse" style="width: 50vw;">
                            <li class="nav-item">
                              <a class="nav-link active" style = "color : black" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" style = "color : black" href="/physical_data">Physicals and Advice</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" style = "color : black" href="/survey_redirect">Health Survey</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" style = "color : black" href="/forum">Forum</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" style = "color : black" href="/diary">Diet Diary</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" style="color : black" href="/to_do">To Do List</a>
                            </li>
                            <li class="nav-item">
                                <form action="/logout">
                                  <input class="btn btn-outline-danger" type="submit" value="Log out">
                                </form>
                              </li>
                          </ul>
                    </div>
                </nav>
            </div>
            <div class="container mt-5">
                <h1 class="mb-4">Daily Diet Diary</h1>

                <table class="table" id="totalNutrition">
                    <thead>
                      <tr>
                        <th>Nutrition (g)</th>
                        <th>Calories</th>
                        <th>Protein</th>
                        <th>Carbs</th>
                        <th>Fat</th>
                      </tr>
                    </thead>
                    <tbody id="nutritionTotals">
                        <tr>
                        <th>Total</th>
                        <th id="totalCalories"> {{total_calories}} </th>
                        <th id="totalProtein"> {{total_protein}} </th>
                        <th id="totalCarbs"> {{total_carbs}} </th>
                        <th id="totalFat"> {{total_fat}} </th>
                      </tr>
                    </tbody>
                  </table>

                <form action="/diary" id="mealForm" method="POST">
                  <div class="mb-3">
                    <label for="foodName" class="form-label">Food Name</label>
                    <input type="text" class="form-control" name ="foodName" placeholder="you can enter the specific amount" id="foodName" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Add to Diary</button>
                </form>
    </body>
</html>



