<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</head>

<body>
    <br>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-light" style="max-width: 95vw; margin: 0 auto; margin-bottom: 10px;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="">
                        <img src="..\static\flag.jpg" alt="Womp" width="3%" height="3%">
                        Elon Musk Nerualink Babies
                    </a>
                    <ul class="navbar-nav navHeaderCollapse" style="width: 50vw;">
                        <li class="nav-item">
                          <a class="nav-link active" style = "color : black" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" style = "color : black" href="/physical_data">Physicals and Advice</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" style = "color : black" href="/survey_redirect">Health Survey</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" style = "color : black" href="/forum">Forum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" style = "color : black" href="/diary">Diet Diary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" style="color : black" href="/to_do">To Do List</a>
                        </li>
                        <li class="nav-item">
                            <form action="/logout">
                              <input class="btn btn-outline-danger" type="submit" value="Log out">
                            </form>
                          </li>
                      </ul>
                </div>
            </nav>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-info float-end collapsed" type="button" data-bs-toggle="collapse"
                    href="#posttext" role="button" aria-expanded="false" aria-controls="collapseExample"
                    style="margin-bottom: 10px; margin-left: 10px;">Post
                    Thread</button>
                <div class="collapse" id="posttext">
                    <div class="card card-body" style="margin-bottom: 10px;">

                        <form action="/forum" method="post">
                            <div class="mb-3">
                                <label for="posttitle" class="form-label">Summary</label>
                                <input type="text" class="form-control" id="posttitle" name="posttitle"
                                    placeholder="#goals">
                            </div>
                            <div class="mb-3">
                                <textarea name="posttext" placeholder="Just reached a new milestone" type="text"
                                    class="form-control" rows="5" cols="80"></textarea>
                            </div>
                            <button type="submit" value="submit" class="btn btn-primary float-end">Submit</button>
                        </form>

                    </div>
                </div>
                <div class="card" style="width: 80vw;">
                    <div class="card-body" style="width: 80vw;">
                        <table class="table table-striped table-hover">
                            <thead>
                                <h4>Forum</h4>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Post Contents</th>
                                    <th scope="col">Replies</th>
                                </tr>
                            </thead>

                            <tbody>

                                {% for entry in arr %}
                                <tr>
                                    <th scope="row">
                                        <a href="/post/{{entry[0]}}">{{entry[1]}}</a>
                                        <br>
                                         By {{entry[2]}}
                                    </th>

                                    <td>
                                        <div style="height:70px; overflow:hidden;">

                                            <strong>{{entry[3]}}</strong>
                                        </div>
                                    </td>

                                    <td>{{entry[4]}}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                <!-- Removed because no time -->
                <!-- <div class="card" style="width: 15vw; margin-bottom: 10%;">
                    <div class="card-body">
                        <h4 card-title>About {{account}} </h4>
                        <div class="continer text-center">
                            <img src="" alt=" N/A" width="100%" height="100%">
                        </div>
                        <p id="AboutMe" style="overflow-wrap: break-word;">About Me: </p>
                        <p id="interests">Interests: </p>
                        <p id="posts">Posts:</p>
                        <p id="replies">Replies:</p>
                    </div>
                </div> -->

                <div class="card" style="width: 15vw;">
                    <div class="card-body">
                        <table class="table table-striped">
                            <tbody>
                                <thead>
                                    <h4>Forum Statistics</h4>
                                    <tr>
                                        <th scope="col">
                                        </th>
                                        <th scope="col">
                                            #
                                        </th>
                                    </tr>
                                </thead>
                                <tr>
                                    <th scope="row">Posts</th>
                                    <td id="numPosts">
                                        {{numbposts}}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Replies</th>
                                    <td id num="Replies">
                                        {{numbreplies}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
<script src="../static/js/Forum.js"></script>

</html>