<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  

    </head>
    <body onload=init()>
        <canvas id="calories"></canvas>
        <canvas id="sleep"></canvas>
        <canvas id="exercise"></canvas>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="../static/js/health.js"></script>
    </body>

</html>

